[submodule "flutter-app/selfprivacy.org.app"]
	path = flutter-app/selfprivacy.org.app
	url = git@github.com:selfprivacy-over-alternative-nets/SelfPrivacy-Flutter-Ubuntu-and-Android-App-Over-Alternative-Nets.git
	branch = main
